<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- Your bean definitions go here -->
    
    <bean class ="Spring.Springboot.Employee" name="emp">
    <property name="id"> <value>111</value></property>
        <property name="name"> <value>Harsh</value></property>
    
    </bean>
    
</beans>
